body {
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
}

.container {
    padding-top: 20px;
}

.outputsContainer {
    max-height: 500px;
    overflow-y: auto;
}

.active-icon {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1;
}

.card-active {
    transform: scale(0.9, 0.9);
}

.gallery-card {
    width: 200px;
    height: 150px;
    margin: 0;
}
